<section class="movieDetail" style="background-image: url('https://image.tmdb.org/t/p/w500/{{backdrop}}');">
  <div class="wrapper">
    <div class="details">
        <div class="movieHeader">
            <div class="posterImg">
              <img src="https://image.tmdb.org/t/p/w500/{{poster}}">
            </div>
            <div class="title">{{title}}</div>
            <div class="information">
                <div class="rating">{{rating/10*100}}% Rating</div>
                <div class="esrb">PG13</div>
                <!--<div class="genre">{{genres}}</div>-->
                <div class="year">{{release_date}}</div>
                <!--<div class="runtime">1h 43m</div>-->
            </div>
            <hr/>
        </div>
        <div class="description">
            {{overview}}
        </div>
        <div class="buttons">
            <a href="#" class="button">Watch Trailer</a>
            <a href="#" class="button">Add To Trailer</a>
        </div>
    </div>
  </div>
</section>
