/*
.mood {
    text-align: center;
    background-color: red;
    border-radius: 5px;
    margin-bottom: 1em;
    //width: 80%;
}
.mood a {
    color: #fff;
    text-align: center;
    font-weight: 800;
    
}
.mood {
    height: 200px;
    display: flex;

    .image {
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    };
}
*/
.header {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: .5em;
    opacity: .6;
    //margin: 0 auto;

    & > div {
        margin: .5em auto;
        font-weight: 600;
        color: #fff;
    }
}
splide .is-active {
    .item {
        background-color: rgba(197,0,0,.31);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
        font-size: 32px;
        font-weight: 650;
        text-transform: uppercase;
        color: #fff;
        opacity: 1;
        //width: 100%;
    }
}
splide {
    .item {
        //color: orange;
    }
}

:host ::ng-deep .is-active > .item {
    background-color: rgba(197,0,0,.31);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
        font-size: 32px;
        font-weight: 650;
        text-transform: uppercase;
        color: #fff;
        opacity: 1;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    opacity: .5;
}
a:hover, a:focus {
    color: #fff !important;
}

.moodTitle {
    color: #fff;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 600;
}
@media screen and (max-width: 749px) {
    .header {
        font-size: 1em;
        font-weight: normal;
        margin-top: 1.5em;
    }
    .splide__slide.is-active {
        .item {
            font-size: 1.5em;
            opacity: 1;
        }
    }
    .item {
        font-size: 1.5em;
        opacity: .3;
    }
}
