<!--
<div class="top-bar" style="background-color: #000;">
    <div class="top-bar-left" style="background-color: #000;">
        <ul class="menu" style="background-color: #000;">
            <li class="menu-text"><a href="#" class="" style="color: red; font-weight: 800;">Moody</a></li>
            <li class="menu-text"><a class="" routerLink="/favorites" style="color: #fff; font-weight: 650;">Favorites</a></li>
        </ul>
    </div>
</div>
-->
<header>
    <nav class="navigation">
        <div class="title">MOODY</div>
    </nav>
</header>